* 
/*Nav box/header size*/
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Webpage Background Color*/
body {
    background-color: #d9dcd6;
}

/*Top left Nav Logo/Name, background color & location*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Color for SEO "Search Engine Optimization"*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Top Right Nav Links
    Displays in line with above css block*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*May not be needed, ask TA in Officce hours*/
/*Space b/w Left edge of Element*/
.header nav ul li {
    margin-left: 25px;
}

/*Top Right Nav Links
    Controls location & font/size*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Top Right Nav Text Color*/
.header a {
    color: #ffffff;
    text-decoration: none;
}

/*"Digital Marketing Meeting" Image
    Size, Margin, Asset Link, Container Fill, Pos*/
.meeting {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*"content" figcaption Text Size*/
p {
    font-size: 16px;
}

/*"content" figure float locations*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*Middle Info/Content Containers (Allows Aside Location).
     Inline-block-> width, margin.*/
.content {
    display: inline-block;
    width: 75%;
    margin-left: 20px;
}

/*"Content" Styling
    Container Size, font, & Colors */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*"content" Image Sizes*/
.search-engine-optimization img,.online-reputation-management img,.social-media-marketing img {
    max-height: 200px;
}

/*"Content" Text spacing*/
.search-engine-optimization h2,.online-reputation-management h2,.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Aside Container
    Location, FloatInteractions, size, & Font.*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Subtext Color and Space between next section*/

.benefit-lead, .benefit-brand, .benefit-cost{
    margin-bottom: 32px;
    color: #ffffff;
}

/*h3 Text and Space between next section*/
.benefit-lead h3,.benefit-brand h3,.benefit-cost h3  {
    margin-bottom: 10px;
    text-align: center;
}

/*Center Img, Use available space*/
.benefit-lead img,.benefit-brand img,.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Available Text Space, float interactions,
    font style, & bottom center alignment.*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Text Size*/
.footer h2 {
    font-size: 20px;
}
